<% layout('layouts/boilerPlate') %>
<article class="blog active" data-page="blog">
    <header>
        <h2 class="h2 article-title">Blog</h2>
    </header>
    <!-- Elfsight LinkedIn Feed | Untitled LinkedIn Feed -->
    <div class="elfsight-app-4d02aaa0-feec-41d9-ae6a-cd6393b69b12" data-elfsight-app-lazy></div>
</article>
