/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.mapbox {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid var(--primary-color-medium);
  overflow: hidden;
}

.mapbox figure { height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}

.contact-form { margin-bottom: 10px; }

.form-title { margin-bottom: 20px; }

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: var(--text-color-light);
  background: var(--primary-color-dark);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid var(--primary-color-medium);
  border-radius: 14px;
  outline: none;
  transition: border-color var(--transition-1), box-shadow var(--transition-1);
}

.form-input::placeholder { font-weight: var(--fw-500); color: var(--text-color-medium); }

.form-input:focus { 
  border-color: var(--accent-color);
  box-shadow: 0 0 10px hsla(177, 100%, 50%, 0.2);
}

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer { display: none; }

.form-input:focus:invalid { border-color: hsl(0, 70%, 60%); }

.form-btn {
  position: relative;
  /* width: 100%; */
  background: var(--bg-gradient-primary);
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 14px;
  font-size: var(--fs-5);
  text-transform: capitalize;
  box-shadow: var(--shadow-1);
  z-index: 10;
  transition: var(--transition-1);
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--primary-color-dark);
  border-radius: inherit;
  z-index: -10;
  transition: var(--transition-1);
}

.form-btn ion-icon { font-size: 16px; }

.form-btn:hover { background: var(--accent-color); }

.form-btn:hover::before { background: var(--accent-color); }

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-btn:disabled:hover { background: var(--primary-color-medium); }

.form-btn:disabled:hover::before { background: var(--primary-color-dark); }
