/**
 * education and experience 
 */

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 35px;
}

.timeline-list {
  font-size: var(--fs-5);
  margin-left: 35px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: var(--fs-4);
  line-height: 1.3;
  margin-bottom: 7px;
}

.timeline-list span {
  color: var(--accent-color);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -40px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--primary-color-medium);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--text-gradient-accent);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--primary-color-dark);
}

.timeline-text {
  color: var(--text-color-medium);
  font-weight: var(--fw-400);
  line-height: 1.6;
  padding-left: 10px;
}
