/*-----------------------------------*\
  #PORTFOLIO
\*-----------------------------------*/

.filter-list { display: none; }

.filter-select-box {
  position: relative;
  margin-bottom: 25px;
}

.filter-select {
  background: var(--primary-color-dark);
  color: var(--text-color-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--primary-color-medium);
  border-radius: 14px;
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
}

.filter-select.active .select-icon { transform: rotate(0.5turn); }

.select-list {
  background: var(--primary-color-dark);
  position: absolute;
  top: calc(100% + 6px);
  width: 100%;
  padding: 6px;
  border: 1px solid var(--primary-color-medium);
  border-radius: 14px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in-out;
}

.filter-select.active + .select-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.select-item button {
  background: var(--primary-color-dark);
  color: var(--text-color-medium);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
}

.select-item button:hover { background: var(--primary-color-medium); }

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin-bottom: 10px;
}

.project-item {
  opacity: 0;
  visibility: hidden;
  height: 0; /* Start with height 0 */
  overflow: hidden;
  transition: opacity var(--transition-1), visibility var(--transition-1), height var(--transition-1);
}

.project-item.active {
  opacity: 1;
  visibility: visible;
  height: auto; /* Allow content to define height */
  transition: opacity var(--transition-1), visibility var(--transition-1), height var(--transition-1);
}

.project-item > a { width: 100%; }

.project-img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: var(--shadow-1);
}

.project-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-img::before { background: hsla(0, 0%, 0%, 0.5); }
.project-item > a:hover .project-img { box-shadow: var(--shadow-2); }

.project-item-icon-box {
  --scale: 0.8;

  background: var(--primary-color-dark);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 10px hsla(var(--accent-color-hsl), 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project-item > a:hover .project-item-icon-box {
  --scale: 1;
  opacity: 1;
  box-shadow: 0 0 20px hsla(var(--accent-color-hsl), 0.6);
}

.project-item-icon-box ion-icon { --ionicon-stroke-width: 50px; }

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.project-item > a:hover img { transform: scale(1.1); }
.project-item > a { 
  display: block;
  transition: transform var(--transition-1), box-shadow var(--transition-1); 
  border-radius: 16px;
  padding: 10px;
  margin: -10px; /* Offset padding */
}
.project-item > a:hover { 
  transform: translateY(-5px); 
  background: hsla(var(--primary-color-medium-hsl), 0.3);
  box-shadow: var(--shadow-2);
}

.project-title,
.project-category { margin-left: 10px; }

.project-title {
  color: var(--text-color-light);
  font-size: var(--fs-4);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1.3;
  letter-spacing: 0.2px;
}

.project-category {
  color: var(--text-color-medium);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
}
