<% layout('layouts/boilerPlate') %>

<article class="contact active" data-page="update-education">
    <header>
        <h2 class="h2 article-title">Update Education</h2>
    </header>

    <% if (action === 'add') { %>
    <section class="contact-form">
        <h3 class="h3 form-title">Add New Education</h3>
        <form action="/updating/education/add" method="POST" class="form">
            <div class="input-wrapper">
                <input type="text" name="university" class="form-input" placeholder="University" required>
                <input type="text" name="institution" class="form-input" placeholder="Institution" required>
            </div>
            <div class="input-wrapper">
                <input type="text" name="degree" class="form-input" placeholder="Degree" required>
                <input type="text" name="fieldOfStudy" class="form-input" placeholder="Field of Study">
            </div>
            <div class="input-wrapper">
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="startDate" class="form-input" placeholder="Start Date" required>
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="endDate" class="form-input" placeholder="End Date">
            </div>
            <div class="input-wrapper">
                <input type="text" name="grade" class="form-input" placeholder="Grade">
            </div>
            <textarea name="description" class="form-input" placeholder="Description"></textarea>
            <button type="submit" class="form-btn">
                <ion-icon name="add-outline"></ion-icon>
                <span>Add Education</span>
            </button>
        </form>
    </section>
    <% } else if (action === 'delete') { %>
    <section class="service">
        <h3 class="h3 service-title">Delete Education</h3>
        <% if (data && data.length > 0) { %>
        <ul class="service-list">
            <% data.forEach(item => { %>
            <li class="service-item">
                <div class="service-content-box">
                    <h4 class="h4 service-item-title"><%= item.degree %></h4>
                    <p class="service-item-text"><%= item.institution %>, <%= item.university %></p>
                    <form action="/updating/education/delete/<%= item._id %>" method="POST" style="margin-top: 1rem;">
                        <button type="submit" class="form-btn" style="width: 100%;">
                            <ion-icon name="trash-outline"></ion-icon>
                            <span>Delete</span>
                        </button>
                    </form>
                </div>
            </li>
            <% }); %>
        </ul>
        <% } else { %>
        <p>No education records found.</p>
        <% } %>
    </section>
    <% } %>
</article>
